<div class="carts-container">
    <h1>
        {{titlePage}}
    </h1>
    <div class="carts">
        <table class="table-cart">
            <thead>
                <tr>
                    <td><strong>Producto</strong></td>
                    <td><strong>Descripción</strong></td>
                    <td><strong>Precio</strong></td>
                    <th><strong>Cantidad</strong></th>
                </tr>
            </thead>
            <tbody>
                    {{#each cart.products}}
                    <tr>
                        {{#id}}
                        <td>{{this.title}}</td>
                        <td>{{description}}</td>
                        <td>{{price}}</td>
                        {{/id}}
                        <td>{{this.quantity}}</td>
                    </tr>
                    {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div >
    <form class="send-cart" action="/api/carts/{{cart._id}}/purchase" method="post">
        <input class="botons" type="submit">
    </form>
</div>
