<div class="card">
    <div>        
        <table id="productsTable" class="table table-striped">
            <thead>
                <tr>
                    <td><strong>Producto</strong></td>
                    <th><strong>Foto</strong></th>
                    <td><strong>Descripción</strong></td>
                    <td><strong>Precio</strong></td>
                    <td><strong>Stock</strong></td>
                    <td><strong>Categoría</strong></td>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{title}}</td>
                    <td>
                        {{#each thumbnails}}
                        <img src="{{this}}" width="60"  alt="">
                        {{/each}}
                    </td>
                    <td>{{description}}</td>
                    <td>{{price}}</td>
                    <td>{{stock}}</td>
                    <td>{{category}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>

