<div class="products-container">

    <h1>E-commerce</h1>
    {{#if role}}
    <div class="addel-container">
        <form class="addel" id="addForm" action="/products/" method="post">
            <h2>Agregar productos</h2>
            <label for="title">Nombre del producto</label>
            <input placeholder="Jamon" class="controls" type="text" name="title" id="title">
            <br>
            <label for="description">Descripción del producto</label>
            <input placeholder="Descripcion del producto" class="controls" name="description" id="description">    
            <br>
            <label for="price">Precio del producto</label>
            <input placeholder="$ 1.000" class="controls" type="text" name="price" id="price">
            <br>
            <label for="thumbnail">Foto del producto</label>
            <input placeholder="url img" class="controls" type="text" name="thumbnails" id="thumbnail">
            <br>
            <label for="stock">Stock del producto</label>
            <input placeholder="30" class="controls" type="text" name="stock" id="stock">
            <br>
            <label for="category">Categoria del producto</label>
            <input placeholder="Enter product category" class="controls" type="text" name="category" id="category">
            <input class="botons" type="submit" value="Crear">
        </form>
    </div>
            <form class="addel" id="delForm" action="/products/" method="post">
            <h4>Eliminar Producto</h4>
            <label for="id-prod">id product</label>
            <input placeholder="ID del producto" class="controls" type="text" name="pid" id="id-prod">
            <input class="botons" type="submit" value="Eliminar">
        </form>
    {{/if}}
    <div>
        <table id="productsTable" class="table-cart">
            <h1>PRODUCTOS</h1>
            <thead>
                <tr>
                    <td><strong>Producto</strong></td>
                    <th><strong>Foto</strong></th>
                    <td><strong>Descripción</strong></td>
                    <td><strong>Precio</strong></td>
                    <td><strong>Stock</strong></td>
                    <td><strong>Categoría</strong></td>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{title}}</td>
                    <td>
                        {{#each thumbnails}}
                        <img src="{{this}}" width="60"  alt="">
                        {{/each}}
                    </td>
                    <td>{{description}}</td>
                    <td>{{price}}</td>
                    <td>{{stock}}</td>
                    <td>{{category}}</td>
                    <td>
                        <form class="send-cart" action="/api/carts/{{../user.cart}}/products/{{_id}}" method="post">
                            <input class="botons" type="submit" value="Agregar">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
