<h1>Product</h1>

<div>
    <b>{{product.id}}</b>
    <b>{{product.name}}</b>
    <b>{{product.price}}</b>
    <hr>
    <a href="/products/pushProduct/{{product._id}}">Agregar Producto</a><br><hr>
    <a href="/products/delete/{{product._id}}">Borar Producto</a>
</div>

